
.inblock{display: -moz-inline-stack;display: inline-block;vertical-align: top;zoom: 1; *display: inline;}

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot');
    src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
html,body{margin:0px ;padding:0px;  width:100%;height:100%;}
body{color: #666;background-color: #f5f5f5;color: #666;
    font-family: "Microsoft Yahei",sans-serif;
    min-height: 100%;
    height:auto;
    position:relative;
    box-sizing: border-box;
    padding-bottom: 40px;
}
a{text-decoration: none;}
ul{
    list-style:none;
    padding:0px;
    margin:0px;
}
p{line-height:24px;}
.clear {
    *zoom: 1;
    &:after{
        content: "";
        display: table;
        clear: both;
    }
}
.header{
    background-color: #454545;
    font-family: "Noto Sans","Open Sans",Helvetica,sans-serif,"STHeiti","Microsoft Yahei";
    width: 100%;
    z-index: 100;
    .navigation{
        height: 40px;
        margin: 0 auto;
        width: 960px;
        .head-title{
            @extend .inblock;
            width: 140px;
            a{
                color: #cfcfcf;
                display: block;
                line-height: 40px;
                text-align: center;
            }
        }
        .head-nav{
            @extend .inblock;
            width:620px;
            .nav-list{
                float:left;
                li{
                    float:left;
                    a {
                        border-left: 1px solid #5c5c5c;
                        color: #cfcfcf;
                        display: block;
                        font-size: 0.9em;
                        line-height: 40px;
                        padding: 0 1.75em;
                        &.current{
                            background-color: #333;
                            border-left: 1px solid #333;
                        }
                    }
                }
            }
        }
    }
}

.banner{
    background-color: #54c5d9;
    background-image: url('../images/banner-2.png');
    /*background-image: url("http://tympanus.net/Tutorials/SlidingHeaderLayout/img/header03.jpg");*/
    background-size: cover;
    height: 303px;
    left: 0;
    position: absolute;
    right: 0;
    top: 40px;
    width: 100%;
    z-index: -2;
    /*background-position: 0px -414px;*/
}
//文章部分
.main{
    width:960px;
    z-index:2;
    margin:0px auto;
    .area-main{
        height:100px;
        position:relative;
    }
    .content{
        padding:25px;
        position:relative;
    }
    .content-bg{
        position:absolute;
        background: #fff;
        height: 100%;
        left: 0;
        opacity: 0.85;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }
    h1.title{
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 0.5em;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 0.5em;
    }
    //文章部分
    .artic-wrap{
        //文章列表
        ul{
            li{
                padding:10px;
                border-top: 1px solid #ededed;
                &:hover{
                    background:#DDD7DC;
                    
                }
                &:first-child{
                    border-top: none;
                }
                a{
                    color:#28a2b8;
                }
                .time{
                    float:right;
                }
            }
        }
        //文章时间
        .time{
            font-size: 0.9em;
        }
        //文章列表
        .article{
            padding: 10px;
            width: 95%;
            p{
                display: block;
                line-height: 170%;
                margin: 15px auto 0px  auto;
                text-align: justify;
                white-space: pre-wrap;
                img{ vertical-align: top;
                }
                &.s0{
                    margin: 5px auto 0px  auto;
                }
                &.s1{
                    margin: 5px auto 0px  auto;
                    text-indent: 50px;
                }
                &.s2{
                    margin: 5px auto 0px  auto;
                    text-indent: 100px;
                }
            }
            h2,h3{
                margin: 5px auto 10px;
                padding: 10px 0;
            }
            h2{
                border-bottom: 1px #ccc solid;
                font-size: 175%;
            }
            //代码部分
            
            pre{
                
                code{
                    overflow-x: scroll;
                    font-family: Consolas,Courier,monospace!important;
                    background: #002b36;
                    color: #839496;
                    display: block; 
                    border: none;
                    font-size: 16px;
                    margin: 0;
                    padding: 5px;
                }
            }
        }
        .blue{
            color:rgb(122, 122, 246);
            
        }
    }
}
#footer{
    background-color: #383838;
    position: absolute;
    bottom: 0px;
    width: 100%;
    .foot-content{
        height:40px;
        width:960px;
        margin:0px auto;
        span{
            color: #a1a1a1;
            font-size: 14px;
            line-height: 40px;
        }
    }
}